.spacer {
  flex: 1 1 auto;
}
#menu {
  display: flex;
  list-style-type: none;

  .menu-item {
    margin-left: 15px;
    a {
      color: white;
      text-decoration: none;
      &.active {
        font-weight: bolder;
      }
    }
  }
}
